#header_one {
    background-color: indigo;
    color: azure;
}

.intro_column {
    float: left;
    width: 20%;
    padding: 20px;
    background: gray
}

.list_column {
    float: left;
    width: 40%;
    padding: 20px;
    background: darkgrey
}

.body_one {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    clear: both;    
    content: "";
    display: table
}

img {
    width: 105%;
    float: left;
    
}

.list{
    list-style-position: outside;
    list-style-type: square;
}